<div class="container">
  <div class="row" id="cards">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header">
          Problema
        </div>
        <div class="card-body">
          <p>
            La realidad que nos ha tocado vivir,
            ha sobrepasado nuestras expectativas con respecto
            a la pandemia ya que, estas generaciones no habian
            vivido algo similiar, esta situacion genero incertidumbre,
            malestar y perdidas tanto financieras como humanas
            relacionadas con el COVID-19.
            <br><br><br><br> <img class="img-fluid imaganes_about justify-content-center" src="/assets/img/faq.png"
              alt="">
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <div class="card">
        <div class="card-header">
          Solución
        </div>
        <div class="card-body">
          <p>
            El sistema esta diseñado para ayudar a las personas
            que necesiten soporte, en este tiempo de aislamiento social,
            creando una red de apoyo, utilizando una secuencia de
            preguntas y respuestas activando una herramienta
            informativa que tambien busca entretener o distraer, en
            momentos donde el confinamiento nos hace mas vulnerables.
            <img class="img-fluid imaganes_about justify-content-center" src="/assets/img/solucion.png" alt="">
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-bottom"></div>
<app-footer></app-footer>
