<div class="container">
  <div class="row" id="cards">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header">
          Problema
        </div>
        <div class="card-body">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            <img class="img-fluid imaganes_about justify-content-center" src="/assets/img/faq.png" alt="">
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <div class="card">
        <div class="card-header">
          Solución
        </div>
        <div class="card-body">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            <img class="img-fluid imaganes_about justify-content-center" src="/assets/img/solucion.png" alt="">
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
