<section class="container main">
  <div class="jumbotron jumbotron-fluid rounded-lg shadow-lg p-3 mb-5 bg-white">
    <div class="container row justify-content-center">
      <div class="col-6 col-sm-6 col-md-5 col-lg-5">
        <ul>
          <li class="p-3 mb-2 bg-info text-white rounded-lg">Memes</li>
          <li class="p-3 mb-2 bg-info text-white rounded-lg">Musica relajante</li>
          <li class="p-3 mb-2 bg-info text-white rounded-lg">Información</li>
          <li class="p-3 mb-2 bg-info text-white rounded-lg">consejos</li>
          <li class="p-3 mb-2 bg-info text-white rounded-lg">y mucho más..</li>
        </ul>
      </div>
      <div class="col-6 col-sm-6 col-md-5 col-lg-5">
        <img class="img-fluid" src="/assets/img/animo.png" alt="">
      </div>
    </div>
  </div>
</section>
