<div class="footer">
  <div class="container row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 text-left padding">
      <span>
        Equipo de trabajo <span class="blumix"><a href="https://www.blumix.cl/" target="_blank">Blumix </a></span>&copy;
        2020
      </span><br>
      <img width="8%" src="assets/img/linkedin.png"><a href="https://www.linkedin.com/in/jhongonzalezxav/"
        target="_blank">Jhon
        Gonzalez </a><br>
      <img width="8%" src="assets/img/linkedin.png"><a href="https://www.linkedin.com/in/hebertjosedev/"
        target="_blank"> Hebert Barrios </a><br>
      <img width="8%" src="assets/img/linkedin.png"><a href="https://www.linkedin.com/in/nicol%C3%A1s-roa-30799ba5/"
        target="_blank">Nicolas Roa </a><br>
      <img width="8%" src="assets/img/linkedin.png"><a
        href="https://www.linkedin.com/in/francisco-nicolas-angulo-estay-4805b3166/" target="_blank">Francisco
        Angulo </a><br>
      <img width="8%" src="assets/img/linkedin.png"><a href="https://www.linkedin.com/in/juanjoreyes30/"
        target="_blank">Juan Reyes </a>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 ">
      <span><a href="https://callforcode.org/" target="_blank"> <br>#CallForCode2020</a></span>
    </div>
    <div class="col-6 col-sm-12 col-md-12 col-lg-4 ">

    </div>



    <div>

    </div>

  </div>

</div>
