<section class="main" id="funciones">
  <div class="jumbotron jumbotron-fluid bg-white margin">
    <div class="container row justify-content-center">
      <div class="col-12 col-sm-12 col-md-12 col-lg-4">
        <div class="padding">
          <h2 class="titulo">Estoy aquí Para acompañarte</h2>
          <ul>
            <li class="p-3 mb-2 bg-warning text-dark rounded-lg">Si te diagnosticaron con Covid-19</li>
            <li class="p-3 mb-2 bg-info text-white rounded-lg">Si estas pasando por un mal momento</li>
            <li class="p-3 mb-2 bg-danger text-white rounded-lg">Si ya superaste el virus, pero te sientes mal</li>
          </ul>
          <br>
          <p class="cuenta_conmigo text-uppercase p-3 mb-2 bg-success text-white rounded-lg">Cuenta Conmigo!</p>
        </div>
      </div>
      <div class="col-8 col-sm-8 col-md-8 col-lg-8">
        <img class="img-fluid" src="/assets/img/social.png" alt="">
      </div>
    </div>
  </div>
</section>
<section class="main">
  <div class="jumbotron jumbotron-fluid bg-white margin">
    <div class="container row justify-content-center">
      <div class="col-8 col-sm-8 col-md-8 col-lg-8">
        <img class="img-fluid" src="/assets/img/messa.png" alt="">
      </div>
      <div class="col-12 sm-12 md-12 col-lg-4">
        <div class="padding">
          <h2 class="titulo">Te muestro algunos ejemplos</h2>
          <ul>
            <li class="p-3 mb-2 bg-info text-white rounded-lg">"¿Qué es el Covid?"</li>
            <li class="p-3 mb-2 bg-info text-white rounded-lg">"Tengo Covid"</li>
            <li class="p-3 mb-2 bg-info text-white rounded-lg">"Creo que tengo Covid"</li>
            <li class="p-3 mb-2 bg-info text-white rounded-lg">"Un conocido tiene Covid"</li>

          </ul>
          <br>
          <p class="cuenta_conmigo text-uppercase p-3 mb-2 bg-success text-white rounded-lg">Cuenta Conmigo!</p>
        </div>
      </div>
    </div>
  </div>
</section>
