@font-face{
    font-family: "roboto1";
    src: url("fonts/Roboto-Regular.ttf");
}

@font-face{
    font-family: "roboto2";
    src: url("fonts/Roboto-Bold.ttf");
}

/*Generales*/

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "roboto1", Arial, Helvetica;
    font-size: 20px;
    background: url("../img/jihad2.jpg");
    background-position: center;
}

/*Contenedor principal*/

#content{
    min-height: 700px;
    width: 80%;
    margin:0px auto;
    box-shadow: 0px 0px 10px white;
    background: rgba(17, 13, 13, 0.7);
}

#title{
    width: 70%;
    margin-top: 10px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 170px;
    color: white;
}

#title h1{
    font-family: "roboto2";
    font-size: 60px;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

#container-nav{
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    width: 70%;
    height: 300px;
}

#about-jihad, #chat-jihad{
    width: 250px;
    height: 100px;
    padding: 20px;
    text-align: center;
    font-family: "roboto1";
    font-size: 30px;
    border: 2px solid white;
    transition: .6s;
}

#chat-jihad:hover{
    border-top: 3px solid blue;
    border-left: 3px solid blue;
    transform: scale(1.3);
    
}

#about-jihad, #chat-jihad a {
    color: white !important;
}

#about-jihad{
    margin-top: 31px;
    margin-left: 43px;
}

#about-jihad a{
    color: white;
}


#chat-jihad{
    margin-right: 60px;
    width: 281px;
    height: 103px;
}

/*Pie de pagina*/

footer{
    width: 80%;
    margin: 0px auto;
    color: white;
    text-align: center;
    margin-top: -41px;
}