<div class="footer-bottom">

  <div class="container">
    <div class="row" id="cards">
      <div class="col-md-5">
        <div class="card">
          <div class="card-header">
            Misión
          </div>
          <div class="card-body">
            <p>
              Ayudar a las personas afactadas mentalmente por la actual pandemia, para que puedan seguir con sus vidas,
              sueños y metas
              personales. Por medio de soluciones innovadoras basadas en inteligencia artificial
              <br>
              <img class="img-fluid imaganes_about justify-content-center" src="/assets/img/vision.png" alt="">
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5">
        <div class="card">
          <div class="card-header">
            Visión
          </div>
          <div class="card-body">
            <p>
              Ser una empresa lider desarrollando nuevas tecnologias que nos permitan vivir en un mundo mas sano, limpio
              y humano.
              Bridar soluciones como JIHAD que sean usadas a nivel mundial, en el combate de los efectos en la salud
              metal provocados
              por una pandemia u otra enfermedad que afecte al mundo. <br>
              <br>
              <img class="img-fluid imaganes_about justify-content-center" src="/assets/img/mision.png" alt="">
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
