<section class="container main">
  <div class="jumbotron jumbotron-fluid rounded-lg shadow-lg p-3 mb-5 bg-white">
    <div class="container row justify-content-center">
      <div class="col-6 col-sm-6 col-md-6 col-lg-6">
        <h1 class="display-3">Soy Jihad</h1>
        <p class="lead">Soy especialista en Covid-19</p>
        <p class="lead">bla bla bla</p>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-6">
        <img class="img-fluid" src="/assets/img/option1.png" alt="">
      </div>
    </div>
  </div>
</section>
