<section class="container main">
  <div class="jumbotron jumbotron-fluid rounded-lg">
    <div class="container row justify-content-center">
      <div class="col-6 col-sm-6 col-md-6 col-lg-6">
        <h1 class="display-4 font-weight-bold text-uppercase">jihad</h1>
        <p class="lead">El especialista en Covid-19</p>
        <p class="lead">Cuenta conmigo en los momentos dificiles
          <br>
          siempre disponible para escuharte y distraerte. <br> <span class="">
            <a href="#funciones">
              Pruebas mis funciones!
            </a>
          </span>
        </p>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-6">
        <img class="img-fluid" src="/assets/img/option1.png" alt="">
      </div>
    </div>
  </div>
</section>
